<div class="cv-generator" id="cvGenerator">
    <style>
       .content .content2 {
    display: contents !important;
}
.floating-window-message img{
    display: none !important;
}
    </style>
    <div class="content auto-Width">
        <div class="page" id="pdf-page" #content style="width: auto; height: auto; padding: auto; padding-right: 2.5cm; padding-left: 2.5cm;   padding-top: 1.75cm;">
            <div class="header big-font">
                Lebenslauf
            </div>

            <div class="mb-30"></div>

            <div class="section">
                <div class="table-side width-80">
                    <div class="line">
                        <span class="left-side w-30"> Vorname</span>
                        <span class="right-side">{{commonService.personalData?.firstName || 'N/A' }} </span>
                    </div>
                    <div class="line">
                        <span class="left-side w-30"> Nachname</span>
                        <span class="right-side">{{commonService.personalData?.lastName || 'N/A' }} </span>
                    </div>
                    <div class="line">
                        <span class="left-side w-30"> Adresse</span>
                        <span class="right-side">{{commonService.personalData?.street }}
                        </span>
                    </div>
                    <div class="line">
                        <span class="left-side w-30"></span>
                        <span class="right-side">{{commonService.personalData?.zip + ' '
                            +commonService.personalData?.place}}
                        </span>
                    </div>
                    <div class="line">
                        
                        <span class="left-side w-30"> Telefon</span>
                        <span class="right-side">{{commonService.personalData?.mobile || 'N/A'}} </span>
                    </div>
                    <div class="line">
                        <span class="left-side w-30"> Email</span>
                        <span class="right-side">{{commonService.personalData?.email || 'N/A'}} </span>
                    </div>
                    <div class="line">
                        <span class="left-side w-30">Geburtsdatum</span>
                        <span class="right-side">{{commonService.personalData?.dob | date : 'dd. MMMM yyyy'}} </span>
                    </div>
                    <div class="line">
                        <span class="left-side w-30"> Nationalität</span>
                        <span class="right-side">{{commonService.personalData?.national || 'N/A'}} </span>
                    </div>
                    <div class="line">
                        <span class="left-side w-30"> Eltern</span>
                        <span class="right-side">{{commonService.personalData?.fFirstName +'
                            '+commonService.personalData?.fLastName }}
                            <span *ngIf="commonService.personalData?.fJob">
                                {{' ('+commonService.personalData?.fJob +')'}}
                            </span>
                        </span>
                    </div>
                    <div class="line">
                        <span class="left-side w-30"> </span>
                        <span class="right-side">
                            {{commonService.personalData?.mFirstName +' '+commonService.personalData?.mLastName }}
                            <span *ngIf="commonService.personalData?.mJob">
                                {{' ('+commonService.personalData?.mJob +')'}}
                            </span>
                        </span>
                    </div>
                    <div class="line" *ngIf="siblingsNamesString!='()'">
                        <span class="left-side w-30"> Geschwister</span>
                        <span class="right-side" *ngIf="siblings">{{siblingsNamesString }} </span>
                        <span class="right-side" *ngIf="!siblings">Keine Geschwister </span>

                    </div>

                </div>
                <div style="margin-left: 35px;">
                    <img src={{commonService.personalData?.image}} height="180" style="margin-top: 5px;">
                </div>
            </div>

            <div class="bottom-border"></div>

            <ng-container *ngIf="schooling">
                <div class="mb-20"></div>
                <div class="section">
                    <div class="table-side">
                        <div class="line">
                            <span class="left-side"> Schulbildung</span>
                        </div>
                        <div class="line" *ngFor="let school of commonService.schooling">
                            <span class="left-side normal-font"> {{school.von }} - {{ school.bis }}</span>
                            <span class="right-side">{{school.schule+', '+school.ort }} </span>
                        </div>
                    </div>
                </div>
                <div class="bottom-border"></div>
            </ng-container>

            <ng-container *ngIf="languages">
                <div class="mb-20"></div>
                <div class="section">
                    <div class="table-side">
                        <div class="line">
                            <span class="left-side"> Sprachen</span>
                        </div>
                        <div class="line" *ngFor="let language of commonService.languages">
                            <ng-container *ngIf="language.language!=''">
                                <span class="left-side normal-font"> {{language.language }}
                                </span>
                                <span class="right-side">{{language.type}} </span>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <div class="bottom-border"></div>
            </ng-container>

            <ng-container *ngIf="hobbys">
                <div class="mb-20"></div>
                <div class="section">
                    <div class="table-side">
                        <div class="line">
                            <span class="left-side" > Hobbys</span>
                        </div>
                        <div class="line" *ngFor="let hobby of commonService.hobbys">
                            <span class="left-side normal-font" style="width: 24%;"> {{hobby.name }} </span>
                            <span class="right-side">{{hobby.description}} </span>
                        </div>
                    </div>
                </div>

                <div class="bottom-border"></div>
            </ng-container>

            <ng-container>
                <div class="mb-20"></div>
                <div class="section">
                    <div class="table-side">
                        <div class="line">
                            <span class="left-side">Schnupperlehren</span>
                        </div>
                        <ng-container *ngIf="trailApprentice">

                            <div class="line" *ngFor="let trail of commonService.trailApprentice">
                                <span class="left-side normal-font col-3">
                                    {{trail.von | date : 'dd.MM'}} - {{trail.bis | date : 'dd.MM.yyyy'}}
                                </span>
                                <span class="right-side">{{trail.beruf +', '+trail.firma +', '+trail.ort }} </span>
                            </div>
                        </ng-container>
                        <div class="line" *ngIf="!trailApprentice">
                            <span class="left-side normal-font col-4">
                                Noch keine Schnupperlehren absolviert
                            </span>
                            <span class="right-side"> </span>
                        </div>
                    </div>
                </div>

                <div class="bottom-border"></div>
            </ng-container>

            <ng-container *ngIf="references">
                <div class="mb-20"></div>
                <div class="section">
                    <div class="table-side ">
                        <div class="line">
                            <span class="left-side">{{ commonService.references.length > 1 ? 'Referenzen' : 'Referenz'
                                }} </span>
                        </div>
                        <!-- <div class="mb-10"></div> -->
                        <ng-container *ngIf="commonService.trailApprentice.length < 4">
                            <div class="line flex-wrap">
                                <div class="reference-box">
                                    <span class="">
                                        {{commonService.references[0]?.firstName+'
                                        '+commonService.references[0]?.lastName+'
                                        '}}</span>
                                    <span *ngIf="commonService.references[0]?.function"> {{'
                                        ('+commonService.references[0]?.function+') '}} </span><br>
                                    <span class="">Telefon {{commonService.references[0]?.mobile}}</span><br>
                                    <span class="">{{commonService.references[0]?.email}}</span><br>
                                </div>
                            </div>

                            <div class="line flex-wrap">
                                <ng-container *ngFor="let reference of commonService.references; let i=index">
                                    <div class="reference-box" *ngIf="i!=0">
                                        <span class="">
                                            {{reference.firstName+' '+reference.lastName+' '}}</span>
                                        <span *ngIf="reference.function"> {{' ('+reference.function+') '}} </span><br>
                                        <span class="">Telefon {{reference.mobile}}</span><br>
                                        <span class="">{{reference.email}}</span><br>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="commonService.trailApprentice.length >= 4">
                            <div class="line flex-wrap">
                                <div class="reference-box"
                                    *ngFor="let reference of commonService.references; let i=index">
                                    <span class="">
                                        {{reference.firstName+' '+reference.lastName+' '}}</span>
                                    <span *ngIf="reference.function"> {{' ('+reference.function+') '}} </span><br>
                                    <span class="">Telefon {{reference.mobile}}</span><br>
                                    <span class="">{{reference.email}}</span><br>
                                </div>
                            </div>
                        </ng-container>

                    </div>
                </div>
            </ng-container>

        </div>
        <div class="mb-10"></div>
        <a class="next-btn back-btn" (click)="onBack()" style="background-color: white; z-index: 122; position: fixed;bottom: 40%;margin-left: 4%;">zurück</a>
        <a class="next-btn second-btn" (click)="convertToPDF()" id="open" onclick="OpenModal()" style=" z-index: 122; position: fixed;bottom:40%;margin-right: 4%;">Download PDF</a>
        <a class="next-btn" (click)="exportToWord()" id="open" onclick="OpenModal()" style=" z-index: 122; position: fixed;bottom:32%;margin-right: 4%;">Download Word</a>
          

         



<!-- 
     
<div class="container">
   <button type="button" class="btn btn-success " >
  Download
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       Your Download will start soon. Please wait
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-btn">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>
 -->


 

    </div>
</div>
 

<div class="main2" id="main2" style="display: none;">
  <div>
    <!-- <button id="open"  onclick="OpenModal()">Opn Modal</button> -->
  </div>
</div>
<div class="container2" id="a">

</div>
<div class="modal2" id="b">
   <div class="content2" style="text-align: center;">
    <img src="assets/images/download.png" width="80%" style="padding: 10px;  z-index: 1111111;">
  </div>
  <!-- <div onclick="CloseModal()" id="CloseBTN" style="background-color: transparent; border:none; text-align: center;"><img src="assets/images/red cross.png" width="40"></div> -->

</div>

  

 
