<div class="first-step">
    <div class="motivation-container">
        <style>
    
            .first-step{
                display: block !important;
            }
            .ques_col{
                font-family: 'Open Sans', sans-serif;
                font-weight: bold;
            }
            </style>
        <div class="row">
            <div class="col-100">
                <span class="small-heading grey-color">
                    Die folgenden Fragen können dir an einem Bewerbungsgespräch  gestellt werden (Quelle: berufsberatung.ch)
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-100">
                <label class="grey-color">
                    Beantworte die Fragen. Falls du eine Antwort noch nicht weisst, kannst du das Feld einfach leer lassen. Am Schluss kannst du die Fragen und Antworten in einem Word-Dokument herunterladen und üben.               </label>
            </div>
        </div>
        <div class="mb-20"></div>
        <div class="row">
            <div class="col-100">
                <label for="fname" class="ques_col">1) Wer hat dich beim Schreiben deines Bewerbungsdossiers unterstützt?</label>
            </div>
        </div>
        <div class="row">
            <div class="col-100">
                <textarea id="description" [(ngModel)]="commonService.lehrStepOneData.textArea10" class="col-100"
                    name="comment-area" rows="4"
                    placeholder={{commonService.lehrStepOneData.textArea10PlaceHolder}}></textarea>
            </div>
        </div>


        <div class="mb-10"></div>
        <div class="row">
            <div class="col-100">
                <label for="fname" class="ques_col">2) Wie sind deine Schulnoten?</label>
            </div>
        </div>
        <div class="row">
            <div class="col-100">
                <textarea id="description" [(ngModel)]="commonService.lehrStepOneData.textArea11" class="col-100"
                    name="comment-area" rows="4"
                    placeholder={{commonService.lehrStepOneData.textArea11PlaceHolder}}></textarea>
            </div>
        </div>


        <div class="mb-10"></div>
        <div class="row">
            <div class="col-100">
                <label for="fname" class="ques_col">3) Wie sind deine Zeugnisse (Verhalten/ Absenzen)?</label>
            </div>
        </div>
        <div class="row">
            <div class="col-100">
                <textarea id="description" [(ngModel)]="commonService.lehrStepOneData.textArea12" class="col-100"
                    name="comment-area" rows="4"
                    placeholder={{commonService.lehrStepOneData.textArea12PlaceHolder}}></textarea>
            </div>
        </div>

        <div class="mb-20"></div>
    </div>

</div>
<div class="mb-20"></div>

 <!-- <a class="next-btn" (click)="onNext()">weiter</a> -->


 <!-- <a class="next-btn back-btn" (click)="onBack()" style="background-color: white; z-index: 333333; position: fixed;bottom: 40%;left: 5%;">zurück</a> -->
<a class="next-btn" (click)="onNext()" style=" z-index: 222222222; position: fixed;bottom:40%;margin-right: 4%;">weiter</a>
   