<div class="first-step">
  <div class="motivation-container">

    <div class="row">
      <div class="col-100">
        <span class="small-heading grey-color">
          <span class="underline">Beantworte</span> die Fragen und <span class="underline">klicke</span> die
          richtigen Felder an.
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-100">
        <label class="grey-color">
          (Die Vorlage hilft dir beim Schreiben. Am Schluss kannst du den Brief als Word herunterladen und noch
          anpassen).
        </label>
      </div>
    </div>
    <div class="mb-20"></div>
    <div class="row">
      <div class="col-100">
        <label for="fname" class="">Welche Klasse besuchst du, welches sind deine Lieblingsfächer und Hobbys?
          (Schreibe in ganzen Sätzen).</label>
      </div>
    </div>
    <div class="row">
      <div class="col-100">
        <textarea id="description" [(ngModel)]="commonService.lehrStepThreeData.textArea1" class="col-100"
          name="comment-area" rows="5" placeholder={{commonService.lehrStepThreeData.textArea1PlaceHolder}}></textarea>
      </div>
    </div>

    <div class="mb-20"></div>
    <div class="row">
      <div class="col-100">
        <label for="fname" class="">Dieser Satz erscheint automatisch am Schluss deines Motivationsschreibens. <br>In
          der Word-Datei kannst du diesen noch selber anpassen.</label>
      </div>
    </div>
    <div class="row">
      <div class="col-100">
        <textarea style="background-color: transparent;" class="col-100" name="comment-area-11" rows="5" disabled="true"
          placeholder="Ich freue mich, wenn Sie mich zu einem Vorstellungsgespräch einladen, damit ich Sie von meiner Persönlichkeit überzeugen kann und warte gespannt auf Ihre Antwort."></textarea>
      </div>
    </div>


    <div class="row">
      <div class="col-100">        
        <label for="fname" class="">Beilagen anklicken:</label> <br>
        <label class="grey-color">
          (nach neustem BIZ-Standard werden die Beilagen im Motivationsschreiben nicht mehr aufgeführt)
        </label>
      </div>
    </div>


    



    <div class="mb-10"></div>



    <!-- <div class="row"> 
            <div class="col-1-1">
                <label for="Lebenslauf" class="">Lebenslauf</label>
            </div>
            <div class="col-0-5 clickable" style="    margin-left: -20px;   margin-right: 10px; ">
                <input type="checkbox" [(ngModel)]="commonService.lehrStepThreeData.lebenslauf" name="Lebenslauf"
                    class="height-18" id="Lebenslauf" value="value">
            </div>

            <div class="col-1-5 clickable">
                <label for="Stellwerktest" class="ml-20">Stellwerktest</label>
            </div>
            <div class="col-0-5" style="    margin-left: -20px;   margin-right: 10px; ">
                <input type="checkbox" [(ngModel)]="commonService.lehrStepThreeData.stellwerktest" name="Stellwerktest"
                    class="height-18" id="Stellwerktest" value="value">

            </div>

            <div class="col-1-5 clickable">
                <label for="Schnupperberichte" class="ml-20">Schnupperberichte</label>
            </div>
            <div class="col-0-5"  style="    margin-left: 35px !important;   margin-right: 10px; ">
                <input type="checkbox" [(ngModel)]="commonService.lehrStepThreeData.Schnupperberichte" name="Schnupperberichte"
                    class="height-18" id="Schnupperberichte" value="value">

            </div>
        </div> -->







    <div class="row">
      <table class="mychcktable">
        <tbody>
          <tr>
            <td><label for="Lebenslauf" class="">Lebenslauf</label></td>
            <td>
              <input type="checkbox" class="mycheck" [(ngModel)]="commonService.lehrStepThreeData.lebenslauf"
                name="Lebenslauf" id="Lebenslauf" value="value">
            </td>
          </tr>
          <tr>
            <td> <label for="Stellwerktest">Stellwerktest</label></td>
            <td>
              <input type="checkbox" class="mycheck" [(ngModel)]="commonService.lehrStepThreeData.stellwerktest"
                name="Stellwerktest" id="Stellwerktest" value="value">
            </td>
          </tr>
          <tr>
            <td><label for="Schnupperberichte">Schnupperberichte</label></td>
            <td>
              <input type="checkbox" class="mycheck" [(ngModel)]="commonService.lehrStepThreeData.Schnupperberichte"
                name="Schnupperberichte" id="Schnupperberichte" value="value">
            </td>
          </tr>
        </tbody>
      </table>

      <!-- <div class=" ">
                <label for="Lebenslauf" class="">Lebenslauf
           
                <input type="checkbox" [(ngModel)]="commonService.lehrStepThreeData.lebenslauf" name="Lebenslauf"
                    id="Lebenslauf" value="value"></label>
            </div>

            <div class=" ">
                <label for="Stellwerktest" >Stellwerktest
            
                <input type="checkbox" [(ngModel)]="commonService.lehrStepThreeData.stellwerktest" name="Stellwerktest"
                    id="Stellwerktest" value="value"></label>

            </div>

            <div class=" ">
                <label for="Schnupperberichte" >Schnupperberichte
            
                <input type="checkbox" [(ngModel)]="commonService.lehrStepThreeData.Schnupperberichte" name="Schnupperberichte"
                      id="Schnupperberichte" value="value"></label>

            </div> -->
    </div>















    <div class="row">

      <table class="mychcktable">
        <tbody>
          <tr>
            <td><label for="Zeugnisse" class="">Zeugnisse</label></td>
            <td>
              <input type="checkbox" class="mycheck" [(ngModel)]="commonService.lehrStepThreeData.zeugnisse" name="Zeugnisse"
                id="Zeugnisse" value="value">
            </td>
          </tr>
          <tr>
            <td> <label for="Multicheck" class="">Multicheck</label></td>
            <td>
              <input type="checkbox" class="mycheck" [(ngModel)]="commonService.lehrStepThreeData.multicheck" name="Multicheck"
               id="Multicheck" value="value">
            </td>
          </tr>
          <tr>
            <td> <label for="Eigene" >Eigene:</label></td>
            <td>
              <input type="text" style="width: 200px;" [(ngModel)]="commonService.lehrStepThreeData.eigene" id="Eigene" name="Eigene"
                maxlength="50" />
            </td>
          </tr>
        </tbody>
      </table>




      <!-- <div class="col-1-1">
                <label for="Zeugnisse" class="">Zeugnisse</label>
            </div>
            <div class="col-0-5 clickable" style="    margin-left: -20px;   margin-right: 10px; ">
                <input type="checkbox" [(ngModel)]="commonService.lehrStepThreeData.zeugnisse" name="Zeugnisse"
                    class="height-18" id="Zeugnisse" value="value">
            </div>

            <div class="col-1-5 clickable">
                <label for="Multicheck" class="ml-20">Multicheck</label>
            </div>
            <div class="col-0-5" style="    margin-left: -20px;   margin-right: 10px; ">
                <input type="checkbox" [(ngModel)]="commonService.lehrStepThreeData.multicheck" name="Multicheck"
                    class="height-18" id="Multicheck" value="value">

            </div>

            <div style="width: 75px;">
                <label for="Eigene" class="label-float-right">Eigene:</label>
            </div>
            <div style="width: 19%;">
                <input type="text" [(ngModel)]="commonService.lehrStepThreeData.eigene" id="Eigene"
                    name="Eigene" maxlength="50" />
            </div> -->
    </div>

    <div class="mb-20"></div>
    <div class="mb-20"></div>
    <div class="mb-20"></div>
  </div>

</div>
<div class="mb-20"></div>
<div class="mb-20"></div>
<div class="mb-20"></div>

<!-- <a class="next-btn back-btn" (click)="onBack()">zurück</a>
<a class="next-btn" (click)="onNext()">Vorschau</a> -->


<a class="next-btn back-btn" (click)="onBack()" style="background-color: white; z-index: 333333; position: fixed;bottom: 40%;margin-left: 4%;">zurück</a>
<a class="next-btn" (click)="onNext()" style=" z-index: 222222222; position: fixed;bottom:40%;margin-right: 4%;">Vorschau</a>
    

 