<div class="first-step">
    <div class="motivation-container">
        <style>
    
            .first-step{
                display: block !important;
            }
            .ques_col{
                font-family: 'Open Sans', sans-serif;
                font-weight: bold;
            }
            </style>
        <div class="row">
            <div class="col-100">
                <span class="small-heading grey-color">
                 </span>
            </div>
        </div>

        <div class="row">
            <div class="col-100">
                <label class="grey-color">
                 </label>
            </div>
        </div>
        <div class="mb-20"></div>
        <div class="row">
            <div class="col-100">
                <label for="fname" class="ques_col">10) Was erwartest du von deiner Lehrstelle?</label>
            </div>
        </div>
        <div class="row">
            <div class="col-100">
                <textarea id="description" [(ngModel)]="commonService.lehrStepFourData4.textArea7" class="col-100"
                    name="comment-area" rows="5"
                    placeholder={{commonService.lehrStepFourData4.textArea7PlaceHolder}}></textarea>
            </div>
        </div>


        <div class="mb-10"></div>
        <div class="row">
            <div class="col-100">
                <label for="fname" class="ques_col">11) Welches sind deine Stärken und deine Schwächen?</label>
            </div>
        </div>
        <div class="row">
            <div class="col-100">
                <textarea id="description" [(ngModel)]="commonService.lehrStepFourData4.textArea8" class="col-100"
                    name="comment-area" rows="5"
                    placeholder='Meine Stärken sind: Ich bin freundlich, hilfsbereit, pünktlich und fleissig.&#10;Meine Schwächen sind: Ich bin eher ruhig und zurückhaltend. Manchmal sage ich meine Meinung nicht.'></textarea>
            </div>
        </div>


        <div class="mb-10"></div>
        <div class="row">
            <div class="col-100">
                <label for="fname" class="ques_col">12) Arbeitsverhalten: Kannst du anpacken und bist du ausdauernd? Nenne Beispiele von dir!</label>
            </div>
        </div>
        <div class="row">
            <div class="col-100">
                <textarea id="description" [(ngModel)]="commonService.lehrStepFourData4.textArea9" class="col-100"
                    name="comment-area" rows="5"
                    placeholder={{commonService.lehrStepFourData4.textArea9PlaceHolder}}></textarea>
            </div>
        </div>

        <div class="mb-20"></div>
    </div>

</div>
<div class="mb-20"></div>
<!-- <a class="next-btn back-btn" (click)="onBack()">zurück</a>
<a class="next-btn" (click)="onNext()">weiter</a> -->

<a class="next-btn back-btn" (click)="onBack()" style="background-color: white; z-index: 333333; position: fixed;bottom: 40%;margin-left: 4%;">zurück</a>
<a class="next-btn" (click)="onNext()" style=" z-index: 222222222; position: fixed;bottom:40%;margin-right: 4%;">weiter</a>
    