<div class="cv-generator">
    <div class="header"> 
    </div>
    <div class="content"> 
        <ng-container *ngIf="commonService.msStep==1">
            <span class="heading-btn">Berufs-Generator</span>
            <app-step-one> </app-step-one>
        </ng-container> 
        <ng-container *ngIf="commonService.msStep==2">
            <span class="heading-btn">Berufs-Generator</span>
            <app-step-two> </app-step-two>
        </ng-container> 
        <ng-container *ngIf="commonService.msStep==3">
            <span class="heading-btn">Berufs-Generator</span>
            <app-step-three> </app-step-three>
        </ng-container> 
        <ng-container *ngIf="commonService.msStep==4">
            <span class="heading-btn">Berufs-Generator</span>
            <app-step-four> </app-step-four>
        </ng-container> 
        <ng-container *ngIf="commonService.msStep==5">
            <span class="heading-btn">Berufs-Generator</span>
            <app-step-five> </app-step-five>
        </ng-container> 
        <ng-container *ngIf="commonService.msStep==6">
            <span class="heading-btn">Berufs-Generator</span>
            <app-step-five-two> </app-step-five-two>
        </ng-container> 
        <ng-container *ngIf="commonService.msStep==7">
            <span class="heading-btn">Berufs-Generator</span>
            <app-step-six> </app-step-six>
        </ng-container> 
        <ng-container *ngIf="commonService.msStep==8">
            <span class="heading-btn">Berufs-Generator</span>
            <app-step-six-two> </app-step-six-two>
        </ng-container> 
        <ng-container *ngIf="commonService.msStep==9">
            <span class="heading-btn">Berufs-Generator</span>
            <app-step-seven> </app-step-seven>
        </ng-container> 
        <ng-container *ngIf="commonService.msStep==10">
            <span class="heading-btn">Berufs-Generator</span>
            <app-step-seven-two> </app-step-seven-two>
        </ng-container> 
        <ng-container *ngIf="commonService.msStep==11">
            <span class="heading-btn">Berufs-Generator</span>
            <app-step-answers> </app-step-answers>
        </ng-container> 
    </div>



    <ng-container *ngIf="commonService.msStep==1">
        <div class="floating-window-message"  >
            <div>
                <img src="assets/images/Notify3.png" style="width: 20%; z-index: 10; float: right; position: absolute; top: 0; margin-top: 9%;   right: 0;" alt="(Wichtig: Du kannst am Schluss den Brief auch als Word herunterladen und den Hauptteil noch selber anpassen).">
            </div>
        </div>
    </ng-container>     
    <ng-container *ngIf="commonService.msStep==2">
        <div class="floating-window-message"  >
            <div>
                <img src="assets/images/Notify3.png" style="width: 20%; z-index: 10; float: right; position: absolute; top: 0; margin-top: 9%;   right: 0;" alt="(Wichtig: Du kannst am Schluss den Brief auch als Word herunterladen und den Hauptteil noch selber anpassen).">
            </div>
        </div>
    </ng-container> 
    <ng-container *ngIf="commonService.msStep==3">
        <div class="floating-window-message"  >
            <div>
                <img src="assets/images/Notify3.png" style="width: 20%; z-index: 10; float: right; position: absolute; top: 0; margin-top: 9%;   right: 0;" alt="(Wichtig: Du kannst am Schluss den Brief auch als Word herunterladen und den Hauptteil noch selber anpassen).">
            </div>
        </div>
    </ng-container> 
    <ng-container *ngIf="commonService.msStep==4">
        <div class="floating-window-message"  >
            <div>
                <img src="assets/images/Notify3.png" style="width: 20%; z-index: 10; float: right; position: absolute; top: 0; margin-top: 9%;   right: 0;" alt="(Wichtig: Du kannst am Schluss den Brief auch als Word herunterladen und den Hauptteil noch selber anpassen).">
            </div>
        </div>
    </ng-container> 
    <ng-container *ngIf="commonService.msStep==5">
        <div class="floating-window-message"  >
            <div>
                <img src="assets/images/Notify3.png" style="width: 20%; z-index: 10; float: right; position: absolute; top: 0; margin-top: 9%;   right: 0;" alt="(Wichtig: Du kannst am Schluss den Brief auch als Word herunterladen und den Hauptteil noch selber anpassen).">
            </div>
        </div>
    </ng-container> 
    <ng-container *ngIf="commonService.msStep==6">
        <div class="floating-window-message"  >
            <div>
                <img src="assets/images/Notify3.png" style="width: 20%; z-index: 10; float: right; position: absolute; top: 0; margin-top: 9%;   right: 0;" alt="(Wichtig: Du kannst am Schluss den Brief auch als Word herunterladen und den Hauptteil noch selber anpassen).">
            </div>
        </div>
    </ng-container> 
    <ng-container *ngIf="commonService.msStep==7">
        <div class="floating-window-message"  >
            <div>
                <img src="assets/images/Notify3.png" style="width: 20%; z-index: 10; float: right; position: absolute; top: 0; margin-top: 9%;   right: 0;" alt="(Wichtig: Du kannst am Schluss den Brief auch als Word herunterladen und den Hauptteil noch selber anpassen).">
            </div>
        </div>
    </ng-container> 
    <ng-container *ngIf="commonService.msStep==8">
        <div class="floating-window-message"  >
            <div>
                <img src="assets/images/Notify3.png" style="width: 20%; z-index: 10; float: right; position: absolute; top: 0; margin-top: 9%;   right: 0;" alt="(Wichtig: Du kannst am Schluss den Brief auch als Word herunterladen und den Hauptteil noch selber anpassen).">
            </div>
        </div>
    </ng-container> 
    <ng-container *ngIf="commonService.msStep==9">
        <div class="floating-window-message"  >
            <div>
                <img src="assets/images/Notify3.png" style="width: 20%; z-index: 10; float: right; position: absolute; top: 0; margin-top: 9%;   right: 0;" alt="(Wichtig: Du kannst am Schluss den Brief auch als Word herunterladen und den Hauptteil noch selber anpassen).">
            </div>
        </div>
    </ng-container> 
    <ng-container *ngIf="commonService.msStep==10">
        <div class="floating-window-message"  >
            <div>
                <img src="assets/images/Notify3.png" style="width: 20%; z-index: 10; float: right; position: absolute; top: 0; margin-top: 9%;   right: 0;" alt="(Wichtig: Du kannst am Schluss den Brief auch als Word herunterladen und den Hauptteil noch selber anpassen).">
            </div>
        </div>
    </ng-container> 
    <ng-container *ngIf="commonService.msStep==11">
        <div class="floating-window-message"  >
            <div>
                <img src="assets/images/Notify4.png" style="width: 21%; z-index: 10; float: right; position: absolute; top: 0; margin-top: 9%;   right: 0;" alt="(Wichtig: Du kannst am Schluss den Brief auch als Word herunterladen und den Hauptteil noch selber anpassen).">
            </div>
        </div>
    </ng-container> 
</div>