<div class="cv-generator" id="cvGenerator">
    <div class="content auto-Width">
        <div class="page page-ms pdf-page" style="zoom: 90%;" id="pdf-page" #content >
            <div class="section">
                <div class="ms-body">
                     <h2><b>Vorbereitungsfragen für dein Bewerbungsgespräch</b></h2>
 
                    <div class="question" style="margin-top:40px;">
                        <div class="row">
                            <div class="col-100">
                                <h4><b>1) Wer hat dich beim Schreiben deines Bewerbungsdossiers unterstützt?</b></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-100">
                                <div  class="ans"  >
                                     <p  align="justify" style="color: rgb(88, 88, 249);" >   <i>    {{commonService.lehrStepOneData.textArea10}}</i></p>
                                    <h5 class="note-edit"  >Notiz:</h5>
                                </div>
                                   
                            </div>
                         </div>
                    </div>


                    <div class="question" style="margin-top:40px;">
                        <div class="row">
                            <div class="col-100">
                                <h4><b> 2) Wie sind deine Schulnoten?</b></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-100">
                                <div  class="ans"  >
                                    <p  align="justify" style="color: rgb(88, 88, 249);" >   <i>    {{commonService.lehrStepOneData.textArea11}}</i></p>
                                    <h5 class="note-edit"  >Notiz:</h5>
                                </div>
                                   
                            </div>
                         </div>
                    </div>
 

                    <div class="question" style="margin-top:40px;">
                        <div class="row">
                            <div class="col-100">
                                <h4><b>3) Wie sind deine Zeugnisse (Verhalten/ Absenzen)?</b></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-100">
                                <div  class="ans"  >
                                     <p  align="justify" style="color: rgb(88, 88, 249);" >   <i>    {{commonService.lehrStepOneData.textArea12}}</i></p>
                                    <h5 class="note-edit"  >Notiz:</h5>
                                </div>
                                   
                            </div>
                         </div>
                    </div>


                    <div class="question" style="margin-top:40px;">
                        <div class="row">
                            <div class="col-100">
                                <h4><b>4) Wie gerne erledigst du Hausaufgaben und wie lernst du für Prüfungen (Was ist deine Lernstrategie)?</b></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-100">
                                <div  class="ans"  >
                                    <p    align="justify" style="color: rgb(88, 88, 249);" >   <i>    {{commonService.lehrStepTwoData.textArea1}}</i></p>                               
                                         <h5 class="note-edit"  >Notiz:</h5>
                                </div>
                                   
                            </div>
                         </div>
                    </div>


                    <div class="question" style="margin-top:40px;">
                        <div class="row">
                            <div class="col-100">
                                <h4><b>5) Warum möchtest du diesen Beruf erlernen?</b></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-100">
                                <div  class="ans"  >
                                    <p    align="justify" style="color: rgb(88, 88, 249);" >   <i>    {{commonService.lehrStepTwoData.textArea2}}</i></p>                                    <h5 class="note-edit"  >Notiz:</h5>
                                </div>
                                   
                            </div>
                         </div>
                    </div>


                    <div class="question" style="margin-top:40px;">
                        <div class="row">
                            <div class="col-100">
                                <h4><b>6) Erfüllst du die schulischen und persönlichen Voraussetzungen für die Lehrstelle?</b></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-100">
                                <div  class="ans"  >
                                    <p    align="justify" style="color: rgb(88, 88, 249);" >   <i>    {{commonService.lehrStepTwoData.textArea3}}</i></p>                 
                                                       <h5 class="note-edit"  >Notiz:</h5>
                                </div>
                                   
                            </div>
                         </div>
                    </div>
                    <div class="question" style="margin-top:40px;">
                        <div class="row">
                            <div class="col-100">
                                <h4><b>7) Warum hast du dich für diese Firma entschieden?</b></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-100">
                                <div class="ans"  >
                                    <p    align="justify" style="color: rgb(88, 88, 249);" >   <i>    {{commonService.lehrStepThreeData3.textArea4}}</i></p>                 
                                                       <h5 class="note-edit"  >Notiz:</h5>
                                </div>
                                   
                            </div>
                         </div>
                    </div>
                    <div class="question" style="margin-top:40px;">
                        <div class="row">
                            <div class="col-100">
                                <h4><b>8) Kannst du erklären, was die Firma macht? (Produkte, Dienstleistungen)</b></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-100">
                                <div  class="ans">
                                    <p    align="justify" style="color: rgb(88, 88, 249);" >  <i>    {{commonService.lehrStepThreeData3.textArea5}}</i></p>                                    <h5 class="note-edit"  >Notiz:</h5>
                                </div>
                                   
                            </div>
                         </div>
                    </div>


                    <div class="question" style="margin-top:40px;">
                        <div class="row">
                            <div class="col-100">
                                <h4><b>9) Welche Schnupperlehren hast du bis jetzt gemacht? Was hat dir gefallen und was nicht?</b></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-100">
                                <div  class="ans"  >
                                    <p    align="justify" style="color: rgb(88, 88, 249);" >  <i>    {{commonService.lehrStepThreeData3.textArea6}}</i></p>                                    <h5 class="note-edit"  >Notiz:</h5>
                                </div>
                                   
                            </div>
                         </div>
                    </div>
 

                    <div class="question" style="margin-top:40px;">
                        <div class="row">
                            <div class="col-100">
                                <h4><b>10) Was erwartest du von deiner Lehrstelle?</b></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-100">
                                <div  class="ans"  >
                                    <p    align="justify" style="color: rgb(88, 88, 249);" >  <i>    {{commonService.lehrStepFourData4.textArea7}}</i></p>                                    <h5 class="note-edit"  >Notiz:</h5>
                                </div>
                                   
                            </div>
                         </div>
                    </div>


                    <div class="question" style="margin-top:40px;">
                        <div class="row">
                            <div class="col-100">
                                <h4><b>11) Welches sind deine Stärken und deine Schwächen?</b></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-100">
                                <div  class="ans"  >
                                    <p    align="justify" style="color: rgb(88, 88, 249);" >  <i>    {{commonService.lehrStepFourData4.textArea8}}</i></p>                                    <h5 class="note-edit"  >Notiz:</h5>
                                </div>
                                   
                            </div>
                         </div>
                    </div>
                    <div class="question" style="margin-top:40px;">
                        <div class="row">
                            <div class="col-100">
                                <h4><b>12) Arbeitsverhalten: Kannst du anpacken und bist du ausdauernd? Nenne Beispiele von dir!</b></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-100">
                                <div  class="ans"  >
                                    <p    align="justify" style="color: rgb(88, 88, 249);" >  <i>    {{commonService.lehrStepFourData4.textArea9}}</i></p>                                    <h5 class="note-edit"  >Notiz:</h5>
                                </div>
                                   
                            </div>
                         </div>
                    </div>
                    <div class="question" style="margin-top:40px;">
                        <div class="row">
                            <div class="col-100">
                                <h4><b>13) Kannst du mit anderen zusammenarbeiten? Nenne Beispiele aus der Schule/Freizeit.</b></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-100">
                                <div  class="ans"  >
                                    <p align="justify" style="color: rgb(88, 88, 249);" >  <i>    {{commonService.lehrStepFiveData5.textArea13}}</i></p>                                    <h5 class="note-edit"  >Notiz:</h5>
                                </div>
                                   
                            </div>
                         </div>
                    </div>
                    <div class="question" style="margin-top:40px;">
                        <div class="row">
                            <div class="col-100">
                                <h4><b>14) Wie reagierst du in einer Konfliktsituation oder in einem Streit? Nenne Beispiele von dir.</b></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-100">
                                <div  class="ans"  >
                                    <p    align="justify" style="color: rgb(88, 88, 249);" >  <i>    {{commonService.lehrStepFiveData5.textArea14}}</i></p>                                    <h5 class="note-edit"  >Notiz:</h5>
                                </div>
                                   
                            </div>
                         </div>
                    </div>
                    <div class="question" style="margin-top:40px;">
                        <div class="row">
                            <div class="col-100">
                                <h4><b>15) Welche Hobbys hast du und wie verbringst du deine Freizeit/Schulferien?</b></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-100">
                                <div  class="ans"  >
                                    <p    align="justify" style="color: rgb(88, 88, 249);" >  <i>    {{commonService.lehrStepFiveData5.textArea15}}</i></p>                                    <h5 class="note-edit"  >Notiz:</h5>
                                </div>
                                   
                            </div>
                         </div>
                    </div>
                    <div class="question" style="margin-top:40px;">
                        <div class="row">
                            <div class="col-100">
                                <h4><b>16) Erzähle etwas über deine Familie (Eltern, Geschwister, Beruf, Schule, wer unterstützt dich?)</b></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-100">
                                <div  class="ans"  >
                                    <p    align="justify" style="color: rgb(88, 88, 249);" >  <i>    {{commonService.lehrStepSixData6.textArea16}}</i></p>                                    <h5 class="note-edit"  >Notiz:</h5>
                                </div>
                                   
                            </div>
                         </div>
                    </div>
                    <div class="question" style="margin-top:40px;">
                        <div class="row">
                            <div class="col-100">
                                <h4><b>17) Falls du die Lehrstelle beginnst. Wie kommst du an den Arbeitsort?</b></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-100">
                                <div  class="ans"  >
                                    <p    align="justify" style="color: rgb(88, 88, 249);" >  <i>    {{commonService.lehrStepSixData6.textArea17}}</i></p>                                    <h5 class="note-edit"  >Notiz:</h5>
                                </div>
                                   
                            </div>
                         </div>
                    </div>
                    <div class="question" style="margin-top:40px;">
                        <div class="row">
                            <div class="col-100">
                                <h4><b>18) Wie sieht deine Zukunft aus? (Beruflich, Privat) Wo siehst du dich?</b></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-100">
                                <div  class="ans"  >
                                    <p    align="justify" style="color: rgb(88, 88, 249);" >  <i>    {{commonService.lehrStepSixData6.textArea18}}</i></p>                                    <h5 class="note-edit"  >Notiz:</h5>
                                </div>
                                   
                            </div>
                         </div>
                    </div>

                    
                   

                    <!-- <p    align="justify" style="color: rgb(88, 88, 249);" > {{commonService.lehrStepOneData.textArea10}}</i></p>
                    <p    align="justify" style="color: rgb(88, 88, 249);" >{{commonService.lehrStepOneData.textArea11}}</i></p>
                    <p    align="justify" style="color: rgb(88, 88, 249);" >{{commonService.lehrStepOneData.textArea12}}</i></p>
 -->

                    <!-- <p    align="justify" style="color: rgb(88, 88, 249);" > {{commonService.lehrStepTwoData.textArea1}}</i></p>
                    <p    align="justify" style="color: rgb(88, 88, 249);" >{{commonService.lehrStepTwoData.textArea2}}</i></p>
                    <p    align="justify" style="color: rgb(88, 88, 249);" >{{commonService.lehrStepTwoData.textArea3}}</i></p> -->


                    <!-- <p    align="justify" style="color: rgb(88, 88, 249);" >{{commonService.lehrStepThreeData3.textArea4}}</i></p>
                    <p    align="justify" style="color: rgb(88, 88, 249);" >{{commonService.lehrStepThreeData3.textArea5}}</i></p>
                    <p    align="justify" style="color: rgb(88, 88, 249);" >{{commonService.lehrStepThreeData3.textArea6}}</i></p> -->

                     <!-- four -->
                    <!-- <p    align="justify" style="color: rgb(88, 88, 249);" >{{commonService.lehrStepFourData4.textArea7}}</i></p>
                    <p    align="justify" style="color: rgb(88, 88, 249);" >{{commonService.lehrStepFourData4.textArea8}}</i></p>
                    <p    align="justify" style="color: rgb(88, 88, 249);" >{{commonService.lehrStepFourData4.textArea9}}</i></p> -->


                      <!-- five -->
                      <!-- <p    align="justify" style="color: rgb(88, 88, 249);" >{{commonService.lehrStepFiveData5.textArea13}}</i></p>
                      <p    align="justify" style="color: rgb(88, 88, 249);" >{{commonService.lehrStepFiveData5.textArea14}}</i></p>
                      <p    align="justify" style="color: rgb(88, 88, 249);" >{{commonService.lehrStepFiveData5.textArea15}}</i></p>
   -->
                        <!-- six -->
                        <!-- <p    align="justify" style="color: rgb(88, 88, 249);" >{{commonService.lehrStepSixData6.textArea16}}</i></p>
                        <p    align="justify" style="color: rgb(88, 88, 249);" >{{commonService.lehrStepSixData6.textArea17}}</i></p>
                        <p    align="justify" style="color: rgb(88, 88, 249);" >{{commonService.lehrStepSixData6.textArea18}}</i></p> -->


                    
                    <!-- Static heading -->
                    <div class="mb-10"></div>

                    <h3 style="margin-top: 80px;"><b> Fragen, die DU am Gespräch stellen kannst. 	<br>						     
                        Suche die Infos auf der Webseite der Firma und mache dir Notizen dazu.</b></h3>

                    <p>a)	Wie viele Mitarbeiter hat die Firma?  <br>
                    b)	Wie erfolgt die Ausbildung? Wer ist zuständig dafür?<br>
                    c)	Welche Lehrberufe bietet die Firma noch an?<br>
                    d)	Wie verläuft die Ausbildung? Welche Bereiche/Abteilungen werde ich kennenlernen?<br>
                    e)	Wer wird die zuständige Person während meiner Ausbildung sein?<br>
                    f)	Wie sind die Arbeitszeiten?<br>
                    g)	An welchen Tagen findet die Berufsschule statt und wo ist die Berufsschule?<br>
                    h)	Muss ich bei der Arbeit spezielle Kleidung tragen oder welche Vorgaben gibt es sonst noch?<br>
                    i)	Auf Ihrer Webseite ist mir aufgefallen, dass... können Sie mir dies genauer erklären?<br>
                    j)	Wie geht es nun weiter nach dem Vorstellunggespräch? Bis wann erhalte ich Bescheid?</p>
                </div>
            </div>

        </div>


 
        <div class="mb-50"></div>
        <a class="next-btn back-btn" (click)="onBack()" style="background-color: white; z-index: 333333; position: fixed;bottom: 40%;margin-left: 4%;">zurück</a>

        <a class="next-btn" (click)="exportToWord()" style=" z-index: 222222222; position: fixed;bottom:40%;margin-right: 4%;" id="open" onclick="OpenModal()">Download Word</a>
    
     <!-- <a class="next-btn back-btn" (click)="onBack()"  >zurück</a>

     <a class="next-btn" (click)="exportToWord()"  >Download Word</a> -->
 
    </div>

</div>


<div class="main2" id="main2" style="display: none;">
    <div>
      <!-- <button id="open" onclick="OpenModal()">Opn Modal</button> -->
    </div>
  </div>
  <div class="container2" id="a">
  
  </div>
  <div class="modal2" id="b">
     <div class="content2" style="text-align: center;">
      <img src="assets/images/download.png" width="80%" style="padding: 10px;">
    </div>
    <!-- <div onclick="CloseModal()" id="CloseBTN" style="background-color: transparent; border:none; text-align: center;"><img src="assets/images/red cross.png" width="40"></div> -->
  
  </div>







  


 