<div class="first-step">
    <div class="motivation-container">
        <style>
    
            .first-step{
                display: block !important;
            }
            .ques_col{
                font-family: 'Open Sans', sans-serif;
                font-weight: bold;
            }
            </style>
        <div class="row">
            <div class="col-100">
                <span class="small-heading grey-color">
                    
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-100">
                <label class="grey-color">
                                  </label>
            </div>
        </div>
        <div class="mb-20"></div>
        <div class="row">
            <div class="col-100">
                <label for="fname" class="ques_col">4) Wie gerne erledigst du Hausaufgaben und wie lernst du für Prüfungen (Was ist deine Lernstrategie)?</label>
            </div>
        </div>
        <div class="row">
            <div class="col-100">
                <textarea id="description" [(ngModel)]="commonService.lehrStepTwoData.textArea1" class="col-100"
                    name="comment-area" rows="4"
                    placeholder={{commonService.lehrStepTwoData.textArea1PlaceHolder}}></textarea>
            </div>
        </div>


        <div class="mb-10"></div>
        <div class="row">
            <div class="col-100">
                <label for="fname" class="ques_col">5) Warum möchtest du diesen Beruf erlernen?</label>
            </div>
        </div>
        <div class="row">
            <div class="col-100">
                <textarea id="description" [(ngModel)]="commonService.lehrStepTwoData.textArea2" class="col-100"
                    name="comment-area" rows="4"
                    placeholder={{commonService.lehrStepTwoData.textArea2PlaceHolder}}></textarea>
            </div>
        </div>


        <div class="mb-10"></div>
        <div class="row">
            <div class="col-100">
                <label for="fname" class="ques_col">6) Erfüllst du die schulischen und persönlichen Voraussetzungen für die Lehrstelle?</label>
            </div>
        </div>
        <div class="row">
            <div class="col-100">
                <textarea id="description" [(ngModel)]="commonService.lehrStepTwoData.textArea3" class="col-100"
                    name="comment-area" rows="4"
                    placeholder='Schulisch: Ja, ich mache im Unterricht gut mit und lerne für Prüfungen und schreibe gute Noten.&#10;Persönlich: Ich bin pünktlich, freundlich und kann gut allein oder in einem Team arbeiten.'></textarea>
            </div>
        </div>

        <div class="mb-20"></div>
    </div>

</div>
<div class="mb-20"></div>
<!-- <a class="next-btn back-btn" (click)="onBack()">zurück</a>
<a class="next-btn" (click)="onNext()">weiter</a> -->

<a class="next-btn back-btn" (click)="onBack()" style="background-color: white; z-index: 333333; position: fixed;bottom: 40%;margin-left: 4%;">zurück</a>
<a class="next-btn" (click)="onNext()" style=" z-index: 222222222; position: fixed;bottom:40%;margin-right: 4%;">weiter</a>
    