<app-header *ngIf="_router.url !='/cv-generator/preview'"></app-header>
<div class="content">
    <router-outlet></router-outlet>
</div>
<app-footer *ngIf="_router.url !='/cv-generator/preview'"></app-footer>

<div id="myModal3" class="modal mbl-popup-main  " onclick="modelOff3Click()" style="z-index: 1111111111111111111;">

     <div class="modal-content " style="height: auto; width: auto;
        padding: 17%; margin-bottom: 0; margin-top: auto;">
             

        <h5>Die Website ist noch nicht für Smartphones oder Tablets verfügbar.</h5>
        <h1 style="font-weight: 600 !important;">Öffne die Website mit deinem PC oder Laptop</h1>
        <button class="create-btn" style="background-color: #ffdf59;
        font-weight: 550;cursor: pointer;width: 100px;
    height: 30px; border: none; border-radius: 5px;"   onclick="getElementById('myModal3').style.setProperty('display','none','important')">Schliessen</button>
    </div>

 
  </div>
 
<!-- Modal -->
<!-- <div class="modals" id="modals-one" aria-hidden="true">
    <div class="modals-dialog">
        <div class="modals-header">
             <h2>Modal in CSS?</h2>
 <p class="btn-close" aria-hidden="true" onclick="
 modelOff3Click()">×</p>

        </div>
        <div class="modals-body">
            <p>One modal example here! :D</p>
        </div>
        <div class="modals-footer"> <a href="#modals-one" class="btn">Nice!</a>

        </div>
    </div>
</div>
<div class="wrap" hidden> <a href="#" class="btn btn-big">Modals!</a>

</div> -->