<div class="cv-generator">
    <div class="header">
        Berufswahl-Unterrichtsmaterial
    </div> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" ></script>

    <div class="content">
        <div class="impressum-box" style="margin-bottom: 6%;">
            Hier kannst du kostenlos Unterlagen zur Berufswahl downloaden<br /><br />
            <a href=""></a>
           
            <p class="PreviewSampleCss">
                <img src="assets/images/pdf_icon.png" alt="" style="width: 3%; margin-right: 15px;">
                <span style="margin-right: 15px;">Anfragetelefonat_Schnupperlehre_Deutsch</span>
                <img src="assets/images/download_icon.png" onclick="window.open('assets/documents/Anfragetelefonat_Schnupperlehre_Deutsch.pdf')" style="width: 2%; cursor: pointer;" alt=""> 
            </p>
            <p  class="PreviewSampleCss">
                <img src="assets/images/pdf_icon.png" alt="" style="width: 3%; margin-right: 15px;">
                <span style="margin-right: 15px;">Anfragetelefonat_Schnupperlehre_Schweizerdeutsch</span>
                <img src="assets/images/download_icon.png" onclick="window.open('assets/documents/Anfragetelefonat_Schnupperlehre_Schweizerdeutsch.pdf')" style="width: 2%; cursor: pointer;" alt=""> 
            </p>
            <p class="PreviewSampleCss">
                <img src="assets/images/pdf_icon.png" alt="" style="width: 3%; margin-right: 15px;">
                <span style="margin-right: 15px;">Visualisierungsmöglichkeit eines Berufswahlbarometers</span>
                <img src="assets/images/download_icon.png" onclick="window.open('assets/documents/Visualisierungsmöglichkeit eines Berufswahlbarometers.pdf')" style="width: 2%; cursor: pointer;" alt=""> 
            </p>
            <p class="PreviewSampleCss">
                <img src="assets/images/word_icon.png" alt="" style="width: 3%; margin-right: 15px;">
                <span style="margin-right: 15px;">Visualisierungsmöglichkeit eines Berufswahlbarometers</span>
                <img src="assets/images/download_icon.png" onclick="window.open('assets/documents/Visualisierungsmöglichkeit eines Berufswahlbarometers.docx')" style="width: 2%; cursor: pointer;" alt=""> 
            </p>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  <script src="/src/app/core/js/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js" integrity="sha512-c3Nl8+7g4LMSTdrm621y7kf9v3SDPnhxLNhcjFJbKECVnmZHTdo+IRO05sNLTH/D3vA6u1X32ehoLC7WFVdheg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
