<div class="first-step">  
    <div class="left-side">
        <form [formGroup]="berufsForm">
            <div class="row">
                <div class="col-7">
                    <span class="small-heading grey-color">
                        Seite 8 von 10<br>Schwächen
                    </span>
                    <p style="color: #a6a6a6;margin-top: 1rem;width: 100%;">Kreuze alles an, was auf deine Person zutrifft.</p>
                </div>
                <div class="col-5"> 
                    <img src="assets/images/berufs.jpg" style="width: 15rem;float: right;margin-top: -2rem;" alt="">
                </div>
            </div> 
 

            <div class="row">
                <div  class="col-12">
                    <span class="small-heading">
                        Meine Schwächen sind:
                    </span>
                </div> 
             </div> 

            <div class="row"> 
                <div  class="col-12">
                    <div >
                        <div style="display: flex;align-items: center;justify-content: space-between;">
                            <label for="weakness_9">Bei neuen Aufgaben muss ich häufig nachfragen</label>
                            <input type="checkbox" style="background-color: transparent; width: auto; height: auto; border: none; padding-left: 0; color: #292929;
                            font-family: sans-serif;"  ngDefaultControl  id="weakness_9" name="weakness_9" formControlName="weakness_9" >
                        </div>  
                    </div>
                    <div >
                        <div style="display: flex;align-items: center;justify-content: space-between;">
                            <label for="weakness_10">Vor fremden Menschen spreche ich nicht gerne</label>
                            <input type="checkbox" style="background-color: transparent; width: auto; height: auto; border: none; padding-left: 0; color: #292929;
                            font-family: sans-serif;"  ngDefaultControl  id="weakness_10" name="weakness_10" formControlName="weakness_10" >
                        </div>  
                    </div> 
                    <div >
                        <div style="display: flex;align-items: center;justify-content: space-between;">
                            <label for="weakness_11">Ich kann nicht gut Entscheidungen treffen</label>
                            <input type="checkbox" style="background-color: transparent; width: auto; height: auto; border: none; padding-left: 0; color: #292929;
                            font-family: sans-serif;"  ngDefaultControl  id="weakness_11" name="weakness_11" formControlName="weakness_11" >
                        </div>  
                    </div>
                    <div >
                        <div style="display: flex;align-items: center;justify-content: space-between;">
                            <label for="weakness_12">Ich bin chaotisch</label>
                            <input type="checkbox" style="background-color: transparent; width: auto; height: auto; border: none; padding-left: 0; color: #292929;
                            font-family: sans-serif;"  ngDefaultControl  id="weakness_12" name="weakness_12" formControlName="weakness_12" >
                        </div>  
                    </div> 
                    <div >
                        <div style="display: flex;align-items: center;justify-content: space-between;">
                            <label for="weakness_13">Ich bin eher scheu</label>
                            <input type="checkbox" style="background-color: transparent; width: auto; height: auto; border: none; padding-left: 0; color: #292929;
                            font-family: sans-serif;"  ngDefaultControl  id="weakness_13" name="weakness_13" formControlName="weakness_13" >
                        </div>  
                    </div>
                    <div >
                        <div style="display: flex;align-items: center;justify-content: space-between;">
                            <label for="weakness_14">Ich kann nicht lange stehen (z.B. Verkauf)</label>
                            <input type="checkbox" style="background-color: transparent; width: auto; height: auto; border: none; padding-left: 0; color: #292929;
                            font-family: sans-serif;"  ngDefaultControl  id="weakness_14" name="weakness_14"  formControlName="weakness_14" >
                        </div>  
                    </div> 
                    <div >
                        <div style="display: flex;align-items: center;justify-content: space-between;">
                            <label for="weakness_15">Ich kann schnell wütend werden.</label>
                            <input type="checkbox" style="background-color: transparent; width: auto; height: auto; border: none; padding-left: 0; color: #292929;
                            font-family: sans-serif;"  ngDefaultControl  id="weakness_15" name="weakness_15"  formControlName="weakness_15" >
                        </div>  
                    </div>
                    <div >
                        <div style="display: flex;align-items: center;justify-content: space-between;">
                            <label for="weakness_16">Ich bin nicht sehr kreativ</label>
                            <input type="checkbox" style="background-color: transparent; width: auto; height: auto; border: none; padding-left: 0; color: #292929;
                            font-family: sans-serif;"  ngDefaultControl  id="weakness_16" name="weakness_16" formControlName="weakness_16" >
                        </div>  
                    </div> 
                </div> 
            </div>
             
             <div class="row">
                <div class="col-100">
                    <div class="next_btn" style="margin-top:2rem">
                        <a class="next-btn back-btn" (click)="onBack()">zurück</a> 
                        <a class="next-btn" (click)="onNext()">weiter</a>
                    </div>
                </div>
             </div> 
        </form> 
    </div> 
</div>
<div class="mb-30"></div>

<!-- <a class="next-btn" (click)="onNext()">weiter</a> -->

   
 
 