<div class="first-step">
    <div class="left-side">
      <form [formGroup]="berufsForm">
        <div class="row">
          <div class="col-7">
            <span class="small-heading grey-color">
              Seite 2 von 7 <br>Lieblingsfächer
            </span>
          </div>
          <div class="col-5">
            <img src="assets/images/berufs.jpg" style="width: 15rem;float: right; margin-top: -2rem;" alt="">
          </div>
        </div>
  
        <div class="row"> 
        </div>
        <div class="row">
          <div class="col-5">
            <p style="color: #a6a6a6; width: 100% !important;">Nenne deine Lieblingsfächer (z.B. Mathematik, Englisch, Sport, usw.)</p>
          </div>
        </div>
  
        <div class="row">
          <div class="col-6">
            <div>
              <input formControlName="subject1" ngDefaultControl style="margin-bottom: 20px; margin-top: 2rem;" type="text" id="subjectname1" name="subjectname1" placeholder="">
              <input formControlName="subject2" ngDefaultControl style="margin-bottom: 20px;" type="text" id="subjectname2" name="subjectname2" placeholder="">
              <input formControlName="subject3" ngDefaultControl style="margin-bottom: 20px;" type="text" id="subjectname3" name="subjectname3" placeholder="">
              <input formControlName="subject4" ngDefaultControl style="margin-bottom: 20px;" type="text" id="subjectname4" name="subjectname4" placeholder="">
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-100">
            <div class="next_btn" style="margin-top: 2rem;">
              <a class="next-btn back-btn" (click)="onBack()">zurück</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <div class="mb-30"></div>
  <a class="next-btn" (click)="onNext()">weiter</a>
  