.header {
    .yellow-border {
        background-color: #ffdf59;
        width: 100%;
        height: 39px;
    }
    .custom-navbar {
        display: flex;
        align-items: center;
        width: 100%;
        height: 80px;
        background-color: #ffffff;
        .nav-logo {
            margin-left: 30px;
            width: 50%;
            img {
                width: auto;
 		
                height: 50px;
            }
        }
        .meue-names {
            margin-left: 10px;
            width: 90%;
            .items {
                display: flex;
                justify-content: space-around;
                width: 90%;
                span {
                    font-size: 14px;
                }
            }
        }
    }
}
.prevBtn:hover{
    background-color: none !important;
    font-size: 40px;
}


.mbl-popup-body{
    width: 100vw !important;
    height: 100vh !important;
  }
  
  @media (min-width: 100px) and (max-width: 1000px) {
  
    .mbl-popup-main{
      display:  block !important;
    }
    
    }