<div class="first-step">
    <div class="motivation-container">

        <div class="row">
            <div class="col-100">
                <span class="small-heading grey-color">
                    <span class="underline">Beantworte</span> die Fragen und <span class="underline">klicke</span> die
                    richtigen Felder an.
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-100">
                <label class="grey-color">
                    (Die Vorlage hilft dir beim Schreiben. Am Schluss kannst du den Brief als Word herunterladen und noch anpassen).
                </label>
            </div>
        </div>
        <div class="mb-20"></div>
        <div class="row">
            <div class="col-100">
                <label for="fname" class="">Welche Termine wären für dich für eine Schnupperlehre am besten?</label>
            </div>
        </div>
        <div class="mb-10"></div>
        <!-- Termin 1 -->
        <div class="row">
            <div class="col-1-3">
                <span class="small-heading">
                    Termin 1
                </span>
            </div>
        </div>
        <div class="row">

            <div class="col-0-7">
                <label for="Last" class="">Von</label>
            </div>
            <div class="col-4">
                <input [(ngModel)]="commonService.schnStepThreeData.T1Von" type="date" id="date" class="" name="date" />
            </div>

            <div class="col-0-7">
                <label for="First" class="label-float-right">Bis</label>
            </div>
            <div class="col-4">
                <input [(ngModel)]="commonService.schnStepThreeData.T1Bis" type="date" id="date" class="" name="date" />
            </div>
        </div>
        <div class="mb-10"></div>
        <!-- Termin 2 -->
        <div class="row">
            <div class="col-1-3">
                <span class="small-heading">
                    Termin 2
                </span>
            </div>
        </div>
        <div class="row">

            <div class="col-0-7">
                <label for="Last" class="">Von</label>
            </div>
            <div class="col-4">
                <input [(ngModel)]="commonService.schnStepThreeData.T2Von" type="date" id="date" class="" name="date" />
            </div>

            <div class="col-0-7">
                <label for="First" class="label-float-right">Bis</label>
            </div>
            <div class="col-4">
                <input [(ngModel)]="commonService.schnStepThreeData.T2Bis" type="date" id="date" class="" name="date" />
            </div>
        </div>
        <div class="mb-10"></div>
        <!-- Termin 3 -->
        <div class="row">
            <div class="col-1-3">
                <span class="small-heading">
                    Termin 3
                </span>
            </div>
        </div>
        <div class="row">

            <div class="col-0-7">
                <label for="Last" class="">Von</label>
            </div>
            <div class="col-4">
                <input [(ngModel)]="commonService.schnStepThreeData.T3Von" type="date" id="date" class="" name="date" />
            </div>

            <div class="col-0-7">
                <label for="First" class="label-float-right">Bis</label>
            </div>
            <div class="col-4">
                <input [(ngModel)]="commonService.schnStepThreeData.T3Bis" type="date" id="date" class="" name="date" />
            </div>
        </div>
        <div class="mb-20"></div>
        <div class="mb-20"></div> 
        <div class="row">
            <div class="col-100">
            <label for="fname" class="">Beilagen anklicken:</label> <br>
                <label class="grey-color">
                    (nach neustem BIZ-Standard werden die Beilagen im Motivationsschreiben nicht mehr aufgeführt).
                </label>
            </div>
        </div>
       
        <div class="mb-10"></div>
        <div class="row">

            <table class="mychcktable">
                <tbody>
                  <tr style="margin-right: 0px;">
                    <td><label for="Lebenslauf">Lebenslauf</label></td>
                    <td>
                        <input type="checkbox"  class="mycheck" [(ngModel)]="commonService.schnStepThreeData.lebenslauf" name="Lebenslauf"
                        id="Lebenslauf" value="value">
                    </td>
                  </tr>
                  <tr style="margin-right: 0px;"> 
                    <td> <label for="Zeugnisse">Zeugnisse</label></td>
                    <td>
                        <input type="checkbox" class="mycheck"  [(ngModel)]="commonService.schnStepThreeData.zeugnisse" name="Zeugnisse"
                        id="Zeugnisse" value="value">
                    </td>
                  </tr>
                  <tr style="margin-right: 0px;"> 
                    <td>  </td>
                    
                  </tr>
                  <tr style="margin-right: 0px;">
                    <td><label for="Eigene">Eigene:</label></td>
                    <td>
                        <input type="text" [(ngModel)]="commonService.schnStepThreeData.eigene" id="Eigene"
                        name="Eigene" maxlength="50" style="width: 158px;" />
                    </td>
                  </tr>
                </tbody>
              </table>

        </div>

        <div class="mb-20"></div>
        <div class="mb-20"></div>
        <div class="mb-20"></div>
    </div>

</div>
<div class="mb-20"></div>
<div class="mb-20"></div>
<div class="mb-20"></div>

<!-- <a class="next-btn back-btn" (click)="onBack()">zurück</a>
<a class="next-btn" (click)="onNext()">Vorschau</a> -->


<a class="next-btn back-btn" (click)="onBack()" style="background-color: white; z-index: 333333; position: fixed;bottom: 40%;margin-left: 4%;">zurück</a>
<a class="next-btn" (click)="onNext()" style=" z-index: 222222222; position: fixed;bottom:40%;margin-right: 4%;">Vorschau</a>
   

 