<div class="first-step">  
    <div class="left-side">
        <form [formGroup]="berufsForm">
            <div class="row">
                <div class="col-7">
                    <span class="small-heading grey-color">
                        Seite 10 von 10 <br>
                        Fragen zur Arbeitsweise
                    </span>
                    <p style="color: #a6a6a6;margin-top: 1rem;width: 100%;">Kreuze alles an, was auf dich zutrifft.</p>
                </div>
                <div class="col-5"> 
                    <img src="assets/images/berufs.jpg" style="width: 15rem;float: right;margin-top: -2rem;" alt="">
                </div>
            </div> 
 

            <div class="row">
                <div  class="col-12">
                    <span class="small-heading"> Wie arbeitest du gerne?
                    </span>
                </div> 
             </div> 

            <div class="row"> 
                <div  class="col-12">
                    <div >
                        <div style="display: flex;align-items: center;justify-content: space-between;">
                            <label for="liketowork_8">Ich helfe gerne anderen Menschen</label>
                            <input type="checkbox" style="background-color: transparent; width: auto; height: auto; border: none; padding-left: 0; color: #292929;
                            font-family: sans-serif;"  ngDefaultControl  id="liketowork_8" name="liketowork_8" formControlName="liketowork_8"  >
                        </div>  
                    </div> 
                    <div >
                        <div style="display: flex;align-items: center;justify-content: space-between;">
                            <label for="liketowork_9">Ich berate gerne andere Menschen</label>
                            <input type="checkbox" style="background-color: transparent; width: auto; height: auto; border: none; padding-left: 0; color: #292929;
                            font-family: sans-serif;"  ngDefaultControl  id="liketowork_9" name="liketowork_9" formControlName="liketowork_9" >
                        </div>  
                    </div>
                    <div >
                        <div style="display: flex;align-items: center;justify-content: space-between;">
                            <label for="liketowork_10">Ich arbeite gerne mit Kindern</label>
                            <input type="checkbox" style="background-color: transparent; width: auto; height: auto; border: none; padding-left: 0; color: #292929;
                            font-family: sans-serif;"  ngDefaultControl  id="liketowork_10" name="liketowork_10" formControlName="liketowork_10"  >
                        </div>  
                    </div> 
                    <div >
                        <div style="display: flex;align-items: center;justify-content: space-between;">
                            <label for="liketowork_11">Ich telefoniere gerne</label>
                            <input type="checkbox" style="background-color: transparent; width: auto; height: auto; border: none; padding-left: 0; color: #292929;
                            font-family: sans-serif;"  ngDefaultControl  id="liketowork_11" name="liketowork_11"  formControlName="liketowork_11">
                        </div>  
                    </div>
                    <div >
                        <div style="display: flex;align-items: center;justify-content: space-between;">
                            <label for="liketowork_12">Ich arbeite gerne mit Maschinen</label>
                            <input type="checkbox" style="background-color: transparent; width: auto; height: auto; border: none; padding-left: 0; color: #292929;
                            font-family: sans-serif;"  ngDefaultControl  id="liketowork_12" name="liketowork_12" formControlName="liketowork_12">
                        </div>  
                    </div> 
                    <div >
                        <div style="display: flex;align-items: center;justify-content: space-between;">
                            <label for="liketowork_13">Ich arbeite gerne kreativ und gestalterisch</label>
                            <input type="checkbox" style="background-color: transparent; width: auto; height: auto; border: none; padding-left: 0; color: #292929;
                            font-family: sans-serif;"  ngDefaultControl  id="liketowork_13" name="liketowork_13"  formControlName="liketowork_13" >
                        </div>  
                    </div>
                    <div >
                        <div style="display: flex;align-items: center;justify-content: space-between;">
                            <label for="liketowork_14">Kalte Temperaturen machen mir nichts aus</label>
                            <input type="checkbox" style="background-color: transparent; width: auto; height: auto; border: none; padding-left: 0; color: #292929;
                            font-family: sans-serif;"  ngDefaultControl  id="liketowork_14" name="liketowork_14"  formControlName="liketowork_14">
                        </div>  
                    </div>  
                </div> 
            </div>
             
             <div class="row">
                <div class="col-100">
                    <div class="next_btn" style="margin-top:2rem">
                        <a class="next-btn back-btn" (click)="onBack()">zurück</a> 
                        <a class="next-btn" (click)="onNext()">Berufe anzeigen</a>
                    </div>
                </div>
             </div> 
        </form> 
    </div> 
</div>
<div class="mb-30"></div>

<!-- <a class="next-btn" (click)="onNext()">weiter</a> -->

   
 
 